<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/adminlayout :: layout (~{::body},'admin/users/update')}">
<head>
    <meta charset="UTF-8">
    <title>Güncelle Kullanıcı</title>
</head>
<body>
<div id="page-content-wrapper">
    <div class="card bg-light mb-3">
        <div class="card-header">
            <div class="row" style="margin-top:1em;">
                <div class="col-md-12">
                    <h1 class="card-title">Yeni Kullanıcı</h1>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <!--/*@thymesVar id="ingredient" type="guru.springframework.commands.IngredientCommand"*/-->
                    <form  th:object="${user}" th:action="@{'/admin/user/update'} " method="post">
                        <input type="hidden" th:field="*{id}"/>
                        <div class="col-md-6 form-group">
                            <label>Adı</label>
                            <input type="text" class="form-control" th:field="*{firstname}"/>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Soyadı</label>
                            <input type="text" class="form-control" th:field="*{lastname}"/>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Mail Adresi</label>
                            <input type="text" class="form-control" th:field="*{email}"/>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Şifre</label>
                            <input type="password" class="form-control" th:field="*{password}"/>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Yetkiler </label>
                            <input type="checkbox" name="roles"
                                   th:each="role :${roles}"
                                   th:text="${role.name}  "
                                   th:value="${role.id}"
                                   th:field="*{roles}"/>

                        </div>
                        <button type="submit" class="btn btn-primary">Kaydet</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>

</body>
</html>