<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/adminlayout :: layout (~{::body},'detailRoles')}">
<head>
    <meta charset="UTF-8">
    <title>Yönetici</title>

</head>
<body>

<div id="page-content-wrapper">
    <div class="card bg-light mb-3">
        <div class="card-header">
            <div class="row" style="margin-top:1em;">
                <div class="col-md-10">
                    <h1 class="card-title">Roller</h1>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-primary" href="#" th:href="@{'/admin/users/new'}" role="button">Kullanıcı Ekle</a>
                </div>
            </div>

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover ">
                    <thead class="thead-inverse">
                    <tr>
                        <th th:rowspan="${role.users.size()}">ID</th>
                        <th th:rowspan="${role.users.size()}">Rol Adı</th>
                        <th>Kullanıcı Adı</th>
                        <th>Adı</th>
                        <th>Soyadı</th>
                        <th>Detay</th>
                        <th>Güncelle</th>
                        <th>Sil</th>
                    </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td th:text="${role.id}" th:rowspan="${role.users.size()+1}"></td>
                                <td th:text="${role.name}" th:rowspan="${role.users.size()+1}"></td>

                            </tr>


                            <tr th:each="user : ${role.users}" th:with="userCount=${role.users.size()}">
                                <td th:text="${userCount>0} ? ${user.email} :''"></td>
                                <td th:text="${userCount>0} ? ${user.firstname} :''"></td>
                                <td th:text="${userCount>0} ? ${user.lastname} :''"></td>
                                <td><a href="#" th:href="@{'/admin/user/' + ${user.id} + '/show'}">Detay</a></td>
                                <td><a href="#" th:href="@{'/admin/user/' + ${user.id} +'/update'}">Güncelle</a></td>
                                <td><a href="#" th:href="@{'/admin/user/' + ${user.id} +'/delete'}">Sil</a></td>

                            </tr>

                    </tbody>
                    <!--
                    <tr>
                        <td th:text="${role.id}"></td>
                        <td th:text="${role.name}"></td>
                        <td>
                            <table th:each="user: ${role.users}">
                                <tr>
                                        <td th:text="${user.email}"></td>
                                        <td th:text="${user.firstname}"></td>
                                        <td th:text="${user.lastname}"></td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table th:each="user: ${role.users}">
                                <tr>

                                </tr>
                            </table>
                        </td>
                    </tr>
                    -->
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /#page-content-wrapper -->


</body>
</html>